.product_list {
  display: grid;
  grid-template-columns: repeat(4, 5fr);
  gap: 20px;
}
.product_page {
  display: inline-grid;
  /* grid-template-columns: [col-start] 20% [col-end col-start] 15% [col-end]; */
  margin: 4rem;
  align-content: space-between;
  grid-template-columns: 300px 50px 10px;
  /* grid-template-columns: [first] 40% [line2] 600px; */
  flex-wrap: wrap;
}

.filterssection {
  width: 20rem;
  gap: 20px;
  text-align: center;
  background-image: url("https://i.imgur.com/xQobEhE.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10%;
}
.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}
.product_box {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid rgb(210, 208, 208);
  width: 20rem;
  height: 22rem;
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgb(178, 177, 177);
}
.product_box:hover {
  box-shadow: 2px 5px 5px black;
}
.addToCart {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  background-color: white;
  border: 1px solid rgb(191, 190, 190);
  width: 30%;
  align-self: center;
  background-image: url("https://i.imgur.com/J8hNBS4.jpg");
  background-size: cover;
}
.addToCart:hover {
  background-color: rgb(157, 185, 157);
}

.productImages {
  width: 50%;
  height: 100%;
  text-decoration: none;
  position: relative;
  display: flex;
  margin: 0 auto;
}
.ProductTitle {
  font-size: 100%;
  text-align: center;
  padding: 0 20px 0 0;
  margin-bottom: 30px;
}
.footer {
  background-color: aqua;
  display: grid;
  grid-template-columns: repeat(2, 500px [col-start]);
  padding: 50px;
  justify-content: center;
  align-items: center;
}
/*CSS FOR DOGPRODUCT DETAILS*/

.detailsContainer {
  display: flex;
  justify-content: column;
  margin: 0 auto;
  max-width: 50%;
  place-items: center;
  justify-content: center;
  gap: 20px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
}
.buttons > button {
  background-color: rgba(139, 249, 157, 0.39);
  padding: 10px;
  border: 1px outset black;
  cursor: pointer;
  border-radius: 5px;
}
.buttons > button:hover {
  background-color: #4caf50;
  color: white;
}

.title {
  padding: 50px;
  place-self: center;
  justify-self: center;
  justify-content: center;
  align-self: center;
  text-align: center;
}
.productimage {
  max-width: 30%;
  place-self: center;
  justify-self: center;
  justify-content: center;
  align-self: center;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .footer {
    background-color: rgb(65, 199, 199);
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .product_page {
    display: flex;
    flex-direction: column;
  }
  .product_list {
    display: flex;
    flex-direction: column;
  }
  .filterssection {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    background-image: none;
  }
  .filters {
    display: flex;
    flex-direction: row;
  }
  .product_box {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid rgb(210, 208, 208);
    width: 17rem;
    height: 22rem;
    text-align: center;
  }

  /*CSS FOR DOGPRODUCT DETAILS*/

  .detailsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: column;
    margin: 0 auto;
    max-width: 50%;
    place-items: center;
    justify-content: center;
    gap: 20px;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    gap: 20px;
  }
  .buttons > button {
    background-color: rgba(139, 249, 157, 0.39);
    padding: 10px;
    border: 1px outset black;
    cursor: pointer;
    border-radius: 5px;
  }
  .buttons > button:hover {
    background-color: #4caf50;
    color: white;
  }

  .title {
    padding: 20px;
    place-self: center;
    justify-self: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    font-size: 100%;
  }
  .productimage {
    max-width: 50%;
    place-self: center;
    justify-self: center;
    justify-content: center;
    align-self: center;
    text-align: center;
  }
}
