* {
  margin: 0;
  margin-top: 0;
  padding: 0;
}
.nav {
  margin: 0;
  list-style-type: none;
  /* background-image: url("https://i.imgur.com/d91A3OD.png"); */

  background-size: contain;
  display: block;
  text-decoration: none;
}
.navlist1 {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 20px 0 0 0;
  text-decoration: none;
  background-color: #32ab11;
  gap: 20px;
}
.navlist2 {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 0 0 20px 0;
  font-size: 2rem;
  text-decoration: none;
  background-color: #bff2b1;
}
.logo {
  flex-grow: 4;
}

a > img {
  margin: 0;
  justify-self: flex-start;
}

.removeunderline {
  text-decoration: none;
}
.big {
  font-size: 1.5rem;
  text-decoration: none;
}

@media only screen and (max-width: 720px) {
  .big {
    font-size: 10px;
    text-decoration: none;
  }
  * {
    margin: 0;
    margin-top: 0;
    padding: 0;
  }
  .nav {
    margin: 0;
    list-style-type: none;
    background-image: url("https://i.imgur.com/d91A3OD.png");
    background-size: contain;
    display: block;
  }
  .navlist1 {
    margin: 0;
    justify-self: flex-start;
    gap: 20px;
    display: flex;
    flex-wrap: no-wrap;
    font-size: 10px;
    justify-content: space-around;
    list-style-type: none;
  }
  .navlist2 {
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 10px;
    flex-wrap: no-wrap;
    font-size: 100%;
    justify-content: space-around;
  }

  a > img {
    margin: 0;
    max-width: 90%;
  }
}
