* {
  margin: 0;
  margin-top: 0;
  padding: 0;
}
.nav {
  margin: 0;
  list-style-type: none;
  background-image: url("https://i.imgur.com/d91A3OD.png");
  background-size: contain;
  display: block;
}
.navlist1 {
  justify-self: flex-end;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 20px 0 0 0;
}
.navlist2 {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 0 0 20px 0;
  font-size: 2rem;
}

a > img {
  margin: 0;
  justify-self: flex-start;
}
/* 
.navlist2 {
  color: red;
  display: flex;
  flex-direction: row;
  gap: 2%;
  justify-content: center;
  list-style-type: none;
  font-size: 30px;
  margin-top: -6%;
  font-weight: bolder;
}

.removeunderline {
  text-decoration: none;
}
.removeunderline:hover {
  color: #22aa3f;
}
.removeunderline:active {
  color: #22aa3f;
}
.removeunderline:link {
  color: #0b0b0b;
}

.logo {
  margin-right: auto;
} */

@media only screen and (max-width: 720px) {
  * {
    margin: 0;
    margin-top: 0;
    padding: 0;
  }
  .nav {
    margin: 0;
    list-style-type: none;
    background-image: url("https://i.imgur.com/d91A3OD.png");
    background-size: contain;
    display: block;
  }
  .navlist1 {
    margin: 0;
    justify-self: flex-start;
    gap: 20px;
    display: flex;
    flex-wrap: no-wrap;
    font-size: 10px;
    justify-content: space-around;
    list-style-type: none;
  }
  .navlist2 {
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 10px;
    flex-wrap: no-wrap;
    font-size: 100%;
    justify-content: space-around;
  }

  a > img {
    margin: 0;
    max-width: 90%;
  }
}
