.navlist1 {
  color: red;
  display: flex;
  flex-direction: row;
  gap: 1%;
  justify-content: center;
  list-style-type: none;
  font-size: 20px;
  margin: 0 auto;
  background-image: url("https://i.imgur.com/RaQQwiF.png");
  background-size: contain;
  border-radius: 20px;
  padding: 20px;
  width: 80%;
  font-weight: bolder;
}

.navlist2 {
  color: red;
  display: flex;
  flex-direction: row;
  gap: 2%;
  justify-content: center;
  list-style-type: none;
  font-size: 30px;
  margin-top: -6%;
  font-weight: bolder;
}

.removeunderline {
  text-decoration: none;
}
.removeunderline:hover {
  color: #22aa3f;
}
.removeunderline:active {
  color: #22aa3f;
}
.removeunderline:link {
  color: #0b0b0b;
}

.logo {
  margin-right: auto;
}

@media only screen and (max-width: 720px) {
  * {
    margin: 0;
    margin-top: 0;
  }

  .navlist1 {
    width: 90%;
    color: red;
    display: flex;
    flex-direction: row;
    gap: 1%;
    list-style-type: none;
    font-size: 1rem;
    background-color: rgba(57, 126, 41, 0.526);
    padding: 20px;
    overflow: hidden;
    margin: 0;
    border-radius: 0;
  }

  .navlist2 {
    color: red;
    display: flex;
    flex-direction: row;
    width: 80%;
    list-style-type: none;
    font-size: 15px;
    gap: 2%;
    margin: 0px;
  }

  img {
    width: 60%;
    height: 100%;
  }
}
