.figure {
  max-width: 100%;
}
.tabel {
  width: 30%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 200px;
}
thead {
  background-color: rgb(248, 152, 238);
  padding: 8px;
}

td {
  text-align: left;
  padding: 8px;

  border: 1px solid #ddd;
}

tr:hover {
  background-color: rgb(247, 222, 237);
}
